body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
li{list-style:none}
body{font: 12px SimSun,tahoma,arial,sans-serif;}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
//wrap
#detail_wrap{
    width: 1200px;
    height: auto;
    min-height: 430px;
    margin: 0 auto;
    overflow: hidden;
    font: 12px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;
    padding: 5px 0;
    .details_crump{
        margin-top: 10px;
        font: 12px/26px arial;
        text-indent: 5px;
        margin-bottom: 20px;
        color: #333;
        code{
            padding: 0 8px;
            font: 13px 'microsoft yahei';
        }
        a{
            color:#333;
        }
    }
    .side_bar{
        float: left;
        width: 175px;
        height: auto;
        margin-right: 15px;
        #cate_guide{
            width: 170px;
            height: auto;
            overflow: hidden;
            margin: 5px 0;
            list-style-type: circle; 
            padding:0;
            h1{
                background:url(../img/cate0.png) no-repeat center;
                padding-bottom: 13px;
                text-indent: -999px;
                font-size: 100%;
                font-weight: 500;
            }
            li{
                float: left;
                width: 134px;
                height: 27px;
                border-top: 0;
                text-align: left;
                padding-left: 27px;
                list-style:url(../img/menu_arr.png) inside;
                a{
                    font: 12px Tahoma,Geneva,sans-serif;
                    color: #666;
                    line-height: 30px;
                }
            }
        }
        .share_news{
            width: 170px;
            height: auto;
            overflow: hidden;
            margin-top: 30px;
            h1{
                background:url(../img/new.png) no-repeat;
                width: 100%;
                height: 19px;
                margin-bottom: 5px;
                font-size: 100%;
                font-weight: 500;
            }
            ul{
                width: 158px;
                padding: 5px;
                overflow: hidden;
                border: solid 1px #ddd; 
                li{
                    width: 100%;
                    margin: 0px;
                    border: none;
                    margin-bottom: 10px;
                    border:none;
                    border-bottom: dashed 1px #ddd;
                    background: #fff;
                    float: left;
                    height: auto;
                    overflow: hidden;
                    a{  border:none;
                        img{
                            width:158px;
                            float:left;
                        }
                    }
                    ul{
                        width: 70%;
                        height: auto;
                        margin: 0 auto;
                        overflow: hidden;
                        padding: 8px 0 0 0;
                        font-size: 12px;
                        color: #333;
                        font-family: '宋体';
                        border:none; 
                        .name{
                            height: 14px;
                            line-height: 14px;
                            overflow: hidden;
                            border:none;
                        }
                        .price{
                            height: 25px;
                            line-height: 25px;
                            margin-top: 3px;
                            border:none;
                            span{
                                font-size: 14px;
                                margin-left: 2px;
                                font-family: 'Arial';
                                float: left;
                                .arrow{
                                    font-size: 12px;
                                    font-family: '微软雅黑';
                                    font-weight: normal;                                   
                                }                                
                            }
                            del{
                                font-size:12px;
                                margin-left: 3px;
                                font-family: '微软雅黑';
                                float: left;
                                color: #999;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
        .share_hot{
            width: 170px;
            height: auto;
            overflow: hidden;
            margin-top: 30px;
            h1{
                background:url(../img/hot.png) no-repeat;
                width: 100%;
                height: 19px;
                margin-bottom: 5px;
                font-size: 100%;
                font-weight: 500;               
            }
            ul{
                width: 158px;
                padding: 5px;
                overflow: hidden;
                border: solid 1px #ddd; 
                li{
                    width: 100%;
                    margin: 0px;
                    border: none;
                    margin-bottom: 10px;
                    border:none;
                    border-bottom: dashed 1px #ddd;
                    background: #fff;
                    float: left;
                    height: auto;
                    overflow: hidden;
                    a{  border:none;
                        img{
                            width:158px;
                            float:left;
                        }
                    }
                    ul{
                        width: 70%;
                        height: auto;
                        margin: 0 auto;
                        overflow: hidden;
                        padding: 8px 0 0 0;
                        font-size: 12px;
                        color: #333;
                        font-family: '宋体';
                        border:none; 
                        .name{
                            height: 14px;
                            line-height: 14px;
                            overflow: hidden;
                            border:none;
                        }
                        .price{
                            height: 25px;
                            line-height: 25px;
                            margin-top: 3px;
                            border:none;
                            span{
                                font-size: 14px;
                                margin-left: 2px;
                                font-family: 'Arial';
                                float: left;
                                .arrow{
                                    font-size: 12px;
                                    font-family: '微软雅黑';
                                    font-weight: normal;                                   
                                }                                
                            }
                            del{
                                font-size:12px;
                                margin-left: 3px;
                                font-family: '微软雅黑';
                                float: left;
                                color: #999;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
    .product_detail{
        width: 84%;
        max-width: 1000px;
        height: auto;
        float: left;
        min-height: 600px; 
        .detail_top{
            min-width: 900px;
            height: auto;
            border: 1px solid #ededed;
            .goods_left{
                border-right: 1px solid #ededed;
                margin-right: 10px;
                width: 481px;
                float: left;
                .gallery{
                    text-align: center;
                    width: 480px;
                    max-width: 480px;
                    height: auto;
                    min-height: 600px;
                    position: relative;
                    .gallery_content{
                        width: 100%;
                        min-height: 480px;
                        height: auto;
                        position: relative;
                        .jqzoom{
                            float:left;
                            .zoompad{
                                position: relative;
                                float: left;
                                z-index: 99;
                                cursor: crosshair;
                                #masterImage{
                                    opacity: 1;
                                }
                                .zoompup{
                                    overflow: hidden;
                                    background-color: #FFF;
                                    opacity: 0.6;
                                    border: 1px solid #CCC;
                                    z-index: 101;
                                    cursor: crosshair;
                                }
                                .zoomPreload{
                                    opacity: 0.8;
                                    color: #333;
                                    font-size: 12px;
                                    font-family: Tahoma;
                                    text-decoration: none;
                                    border: 1px solid #CCC;
                                    background-color: white;
                                    padding: 8px;
                                    text-align: center;
                                    background-image: url(../img/zoomloader.gif);
                                    background-repeat: no-repeat;
                                    background-position: 43px 30px;
                                    z-index: 110;
                                    width: 90px;
                                    height: 43px;
                                }
                            }
                            .zoomwindow{
                                background: #FFF;
                                height: auto;
                                .zoomWrapper{
                                    position: relative;
                                    border: 1px solid #DDD;
                                    z-index: 110;
                                    .zoomrapperTitle{
                                        background: #999;
                                        color: #FFF;
                                        height: 18px;
                                        line-height: 18px;
                                        overflow: hidden;
                                        text-align: center;
                                        font-size: 10px;
                                        top: 0px;
                                        left: 0px;
                                        z-index: 120;
                                        opacity: 0.6;
                                    }
                                    .zoomrapperImage{
                                       display: block;
                                        position: relative;
                                        overflow: hidden;
                                        z-index: 110;
                                        img{
                                            z-index: 101;                                            
                                        }                                         
                                    }
                                }
                            }
                        }
                        .player{
                            z-index: 120;
                            position: absolute;
                            top: 0px;
                            left: 0px;                           
                        }
                    }
                    .gallery_nav{
                        z-index: 1000;
                        overflow: hidden;
                        padding-top: 10px;
                        display: inline-block;
                        text-align: left;
                        li{
                            float: left;
                            margin-right: 5px;
                            cursor: pointer;
                            border: 1px solid #FFF;
                            display: block;
                            a{
                                display: inline-block;
                                padding: 1px;
                                position: relative;
                                s{
                                    margin-top: -16px;
                                    margin-left: 40%;
                                    display: none;
                                    width: 0;
                                    height: 0;
                                    font-size: 0;
                                    border-width: 8px;
                                    border-style: solid;
                                    border-color: transparent transparent #c80a28 transparent;
                                    position: relative;
                                    z-index: 1;                                    
                                }
                                img{
                                        background: #FFF;
                                        width: 70px;
                                    }
                            }
                        } 
                    }
                }
                .dashed{
                    border-bottom: 1px dashed #dedede;
                    width: 95%;
                    margin: -25px 17px 13px;                    
                }
                p{
                    a{
                        background:url(../img/like.png) no-repeat left center;
                        width: 100px;
                        height: 20px;
                        display: block;
                        font: 12px/21px 'microsoft yahei';
                        margin: 4px 0 15px 15px;
                        text-indent: 21px;
                        float:left;
                    }
                }
                #bdshare{
                    z-index: 999999;
                    padding-bottom: 2px;
                    font-size: 12px;
                    float: left;
                    text-align: left !important;
                    .bds_more{
                        display: block;
                        font-family: '宋体',Arial;
                        height: 16px;
                        float: left;
                        cursor: pointer;
                        padding-top: 6px;
                        padding-bottom: 3px;
                        padding-left: 22px;
                        background:url(../img/is.png) no-repeat 0 5px !important;
                    }                   
                    a{
                        background:url(../img/is.png) no-repeat;
                        display: block;
                        font-family: '宋体',Arial;
                        height: 16px;
                        float: left;
                        padding-top: 6px;
                        padding-bottom: 3px;
                        padding-left: 22px;
                    }
                    .bds_qzone{
                        background-position: 0 -75px !important;
                    }
                    .bds_tsina{
                        background-position: 0 -115px !important;
                    }
                    .bds_tqq{
                        background-position: 0 -235px !important;
                    }
                    .bds_renren{
                        background-position: 0 -195px !important;
                    }
                    .bds_t163{
                        background-position: 0 -715px !important;
                    }
                    .shareCount{
                        display:block;
                        cursor: pointer;
                        width: 37px;
                        height: 16px;
                        background:url(../img/sc.png) no-repeat !important;
                        background-position: 0 -30px !important;
                        margin-top: 5px;
                        overflow: hidden;
                        font-size: 12px;
                        line-height: 8px;
                        float:left;
                        text-align: center;
                        padding-left: 5px;
                        color: #454545;
                        font-family: '宋体' !important;
                    }
                }
            }
            .good_right{
                float: left;
                width: 500px;
                #good_detail_1{
                    padding-bottom: 10px;
                    margin:4px 4px 4px 20px;
                    color: #838383;
                    font: 14px 'Microsoft YaHei','SimSun',tahoma,verdana,arial,sans-serif;
                    border-bottom: 1px solid #DDD;
                    position: relative;
                    .product_name{
                        padding-bottom: 10px;
                        font: bold 14px/24px '宋体';
                        color: #333; 
                        span{
                            color: #C80A28;
                            text-indent: -4px;
                        }
                        br{
                            margin:0;
                            padding:0;
                        }
                        em{
                            font: bold 12px '宋体';
                            color: #c80a28;
                        }                      
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            color: #777;
                            padding: 2px 0 0;
                            font-size: 12px;
                            font: 12px/30px '宋体'; 
                            .code{
                                font: 12px 'microsoft yahei';
                                color: #666;
                            } 
                            .y{
                                font: 12px Tahoma,'microsoft yahei';
                                color: #666;
                            }
                            .market_price{
                                font: bold 12px/30px 'Tahoma',tahoma,verdana,arial,sans-serif;
                                color: #666;
                                padding-left: 2px;
                                text-decoration: line-through;
                            }
                            .promote_price{
                                color: #c80a28;
                                font: 20px/30px 'Tahoma',tahoma,verdana,arial,sans-serif;
                                vertical-align: -2px;
                                padding: 4px 0;
                                .yy{
                                    font: 20px 'microsoft yahei';
                                    margin-left: -5px;
                                    color: #cf4554;
                                }                                
                            }
                            .sale_count{
                                    font: 12px 'microsoft yahei';
                                    color: #393939;
                                }
                                .start_off{
                                    display: inline-block;
                                    margin: 0;
                                    width: 74px;
                                    height: 12px;
                                    margin-top: -2px;
                                    .start_on{
                                        display: inline-block;
                                        height: 12px;
                                        background: url(../img/star-s.png) 0 -17px no-repeat;
                                        padding: 0;
                                        font-style: normal;
                                        font-weight: 500;
                                    }
                                }
                                .comment_num{
                                    font-size: 12px;
                                    line-height: 12px;
                                    padding-left: 10px;
                                    a{
                                        color: #c80a28;
                                        font-weight: bold;
                                        padding: 0 1px;
                                    }
                                }
                                                       
                        }
                        .relative{
                            position: relative;
                        }
                    }
                }
                #good_detail_3{
                    border-bottom: none;
                    margin-top: 15px;
                    margin: 4px;
                    margin-left: 20px;
                    color: #838383;
                    font: 14px 'Microsoft YaHei','SimSun',tahoma,verdana,arial,sans-serif;
                    position: relative;
                    .good_attr_text{
                        overflow: hidden;
                        margin-bottom: 8px;
                        .label{
                            font: 12px/27px '宋体';
                            color: #777;
                            width: 70px;
                            letter-spacing: 23px;
                            float: left;
                            display: block;
                            position: relative;
                            b{
                                position: absolute;
                                right: 10px;
                                letter-spacing: 0px;
                                top: 0px;
                                font-weight: normal;
                            }
                        }
                        ul{
                            float: left;
                            width: 400px;
                            .sel_1{
                                height: 23px;
                                line-height: 23px;
                                text-indent: 0;
                                padding: 0 23px;
                                font-style: normal;
                                border: 1px solid #c80a28;
                                color: #333;
                                overflow: hidden;
                                position: relative;
                                margin-right: 10px;
                                margin-bottom: 2px;
                                float: left;
                                text-align: center;
                                vertical-align: middle;
                                cursor: pointer;
                                s{
                                    width: 16px;
                                    height: 16px;
                                    background: url(../img/selected.png) no-repeat;
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                }
                            }
                            .sel_2{
                                height: 23px;
                                line-height: 23px;
                                text-indent: 0;
                                padding: 0 23px;
                                font-style: normal;
                                color: #333;
                                overflow: hidden;
                                position: relative;
                                margin-right: 10px;
                                margin-bottom: 2px;
                                float: left;
                                text-align: center;
                                vertical-align: middle;
                                border: 1px solid #DDD;
                                cursor: pointer;
                            }
                            .sel_3{
                                height: 23px;
                                line-height: 23px;
                                text-indent: 0;
                                padding: 0 23px;
                                font-style: normal;
                                color: #333;
                                overflow: hidden;
                                position: relative;
                                margin-right: 10px;
                                margin-bottom: 2px;
                                float: left;
                                text-align: center;
                                vertical-align: middle;
                                border: 1px solid #DDD;
                                cursor: pointer;
                            }
                        }
                    }
                }
                #good_detail_2{
                    margin: 4px;
                    margin-left: 20px;
                    color: #838383;
                    font: 14px 'Microsoft YaHei','SimSun',tahoma,verdana,arial,sans-serif;
                    border-bottom: 1px solid #DDD;
                    position: relative;
                    .sel_1{
                        
                        .label{
                           font: 12px/25px '宋体'; 
                        }
                        .amount_widget{
                            position: relative;
                            display: inline-block;
                            margin: 0 20px;
                            .increase{
                                right:-20px;
                                width: 12px;
                                height: 12px;
                                float: left;
                                line-height: 10px;
                                text-align: center;
                                overflow: hidden;
                                border: 1px solid #9A9A9A;
                                position: absolute;
                                margin: 7px 0;
                                cursor: pointer;
                            }
                            .decrease{
                                left:-20px;
                                width: 12px;
                                height: 12px;
                                float: left;
                                line-height: 10px;
                                text-align: center;
                                overflow: hidden;
                                border: 1px solid #9A9A9A;
                                position: absolute;
                                margin: 7px 0;
                                cursor: pointer;
                            }
                            #goodNumber{
                                width: 70px;
                                height: 26px;
                                line-height: 26px;
                                text-align: center;
                                color: #333;
                                border: 1px solid #DDD;
                            }
                        }
                        #goodInventory{
                            .inventory{
                                font: 12px/30px '宋体';
                                color: #7b7b7b;
                                padding-left: 5px;
                            }
                        }
                        
                        }
                    }
                    .goodSelect{
                           color: #c80a28;
                           padding: 0px 0 10px 68px;
                           font-size: 12px; 
                    }
                    .detail_btn_set{
                        padding-left: 68px;
                        height: auto;
                        overflow: hidden;
                        .detail_btn_buy{
                            background:url(../img/detail_buy.png);
                            width: 160px;
                            height: 43px;
                            display: block;
                            margin-bottom: 15px;
                            margin-right: 20px;
                            float:left;
                        }
                        .detail_btn_add{
                            background:url(../img/detail_addcart.png);
                            width: 160px;
                            height: 43px;
                            display: block;
                            margin-bottom: 15px;
                            margin-right: 20px; 
                            float:left;
                        }
                    }
                    .product_detail_info{
                        margin: 4px;
                        margin-left: 20px;
                        color: #838383;
                        font: 14px 'Microsoft YaHei','SimSun',tahoma,verdana,arial,sans-serif;
                        position: relative;
                        .extra_info{
                            color: #666;
                            width: 490px;
                            height: auto;
                            font: 12px '宋体';
                            padding: 15px 0;
                            .line1{
                                width:100%;
                                overflow:hidden; 
                                .et_qqonline{
                                    position: relative;
                                    width: 107px;
                                    float: left;
                                    height: 16px;
                                    line-height: 16px;
                                    a{
                                        color:#666;
                                        span{
                                            display:inline-block;                                           
                                        }
                                        .pay3{
                                            position: absolute;
                                            right: 30px;
                                            top: 0px;
                                            width: 13px;
                                            height: 13px;
                                            background:url(../img/goods_details.png) no-repeat -63px -136px;
                                        }
                                    }
                                }
                                .et_weixin{
                                    position: relative;
                                    width: 165px;
                                    float: left;
                                    height: 16px;
                                    line-height: 16px;
                                    .zzy_weixin{
                                        color:#666;
                                       .et_icon{
                                            position: absolute;
                                            top: 0px;
                                            right: 90px;
                                            display: block;
                                            width: 16px;
                                            height: 16px;
                                            background:url(../img/weixin.png) no-repeat;                                                                               
                                        }
                                    }
                               .sao{
                                    position: absolute;
                                    top: -6px;
                                    left: 80px;
                               }
                            }                               
                            }
                            .good_payway{
                                margin-top: 13px;
                                height: 16px;
                                line-height: 16px;
                                label{
                                    line-height:16px;
                                }
                                a span{
                                    line-height:16px;
                                }
                                .sv_icon1{
                                    display: inline-block;
                                    margin-right: 10px;
                                    width: 16px;
                                    height: 16px;
                                    background:url(../img/service.png) no-repeat;
                                    background-position: 0px 0px;
                                }
                                .sv_icon2{
                                    display: inline-block;
                                    margin-right: 10px;
                                    width: 16px;
                                    height: 16px;
                                    background:url(../img/service.png) no-repeat;
                                    background-position: -31px 0px;
                                }
                                .sv_icon3{
                                    display: inline-block;
                                    margin-right: 10px;
                                    width: 16px;
                                    height: 16px;
                                    background:url(../img/service.png) no-repeat;
                                    background-position: -62px 0px;
                                } 
                            }
                        }
                    }
            }
            .clear{
                clear: both;
                display: block;
                overflow: hidden;
                height: 0;
                line-height: 0;
                font-size: 0;
            }
        } 
        .flat_tab{
            width: 100%;
            max-width: 1000px;
            margin: 20px auto;
            height: auto;
            overflow: hidden;
            float: right;
            display: inline;
            .J_TabBox{
                font: 14px/30px "microsoft yahei";
                background-color: #f5f3f0;
                width: 99.9%;
                max-width: 998px;
                z-index: 99;
                padding-bottom: 3px;
                border:1px solid #ddd;
                border-bottom: 1px solid #ededed;
                position: relative;
                height: auto;
                overflow: hidden;
                .tabbar{
                    background-color: #fff;
                    height: 34px;
                    border-bottom: 1px solid #ededed;
                    .current1{
                        position: relative;
                        border-top: 4px solid #c80a28;
                        height: 32px;
                        margin-top: -1px;
                        z-index: 1;
                        padding: 0;
                        float: left;
                        margin-left: -1px;
                        overflow: hidden;
                        line-height: 32px;
                        a{
                            border-right: 1px solid #ededed;
                            height: 32px;
                            line-height: 28px;
                            background: #f5f3f0;
                            float: left;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            border-left: 1px solid #ededed;
                            color: #888;
                            padding: 0 40px;
                        }
                    }
                    .current2{
                        float: left;
                        margin-left: -1px;
                        overflow: hidden;
                        padding: 1px 0;
                        height: 32px;
                        line-height: 32px;
                        a{
                            float: left;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            border-left: 1px solid #ededed;
                            color: #888;
                            padding: 0 40px;
                            line-height: 32px;
                        }
                    }
                    .current3{
                        float: left;
                        margin-left: -1px;
                        overflow: hidden;
                        padding: 1px 0;
                        height: 32px;
                        line-height: 32px;
                        a{
                            float: left;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            border-left: 1px solid #ededed;
                            color: #888;
                            padding: 0 40px;
                            line-height: 32px;
                        }
                    }                   
                }
            }
            .flat_content{
                list-style: none;
                width: 100%;                
                border-top: none;                
                float: left;
                &>li{
                    padding-top: 0px;
                    height: auto;
                    min-height: 400px;
                    background: #FFF;
                    .attributes-list{
                        width: 750px;
                        margin: 10px auto;
                        border: 1px solid #e6e6e6;
                        background-color: #f6f6f6;
                        height: auto;
                        overflow: hidden;
                        font: 12px/1.5 tahoma,arial,宋体;
                        padding-bottom: 20px;
                        #J_AttrUL{
                            padding: 0 20px 18px;
                            text-indent: 0;
                            border-top: 1px solid #fff;
                            li{
                                display: inline;
                                float: left;
                                text-align: left;
                                width: 220px;
                                height: 18px;
                                overflow: hidden;
                                margin: 10px 15px 0 0;
                                line-height: 18px;
                                vertical-align: top;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: #666;
                            }
                        }
                    }
                    .New_goodCONpic{
                        
                    }
                    .goods_desc{
                        width: 760px;
                        margin: 0 auto;
                    }
                }
            }
        }      
    }
    
}
//last
//last
#last{height:auto;overflow: hidden;min-height:140px;margin:0 auto;
    .last1{width:100%;background:#fafafa;overflow:hidden;margin-top: 15px;
        .last_1{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_2{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_3{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_4{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_5{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_6{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
    }
    .last2{width:100%;margin:5px auto;height:30px;background:#393939;color:#fff;text-align: center;font: 12px/32px 'Microsoft YaHei';
        a{color:#fff;margin:0 10px 0 10px;}
    }
    .last3{margin:15px 0;text-align:center;font: 12px SimSun,tahoma,arial,sans-serif;
        .lasts1{margin:0;padding: 0;
                img{margin:0;padding:0;}
                #aa1{display:inline-block;height:20px;line-height:20px;color:#565656;
                    img{float:left;}
                    p{float:left;height:20px;line-height:20px;margin:0 0 0 5px;color:#939393;}
                }
        }
        
    }
}
//右侧悬浮
#xf {
  display: block;
  width: 72px;
  height: 308px;
  background: url(../img/float_box4.png) no-repeat 0 0;
  position: fixed;
  right: 50%;
  bottom: 20%;
  margin-right: -680px; }
  #xf a {
    display: block;
    width: 72px;
    height: 80px;
    float: left;
    margin-top: 1px;
    color: #565656; }
  #xf .xf_1:hover {
    background: url(../img/float_box4.png);
    background-position: -78px 0; }
  #xf .xf_2:hover {
    background: url(../img/float_box4.png);
    background-position: -78px -86px; }
  #xf .xf_3:hover {
    background: url(../img/float_box4.png);
    background-position: -78px -164px; }
  #xf .xf_4:hover {
    background: url(../img/float_box4.png);
    background-position: -78px bottom;
    height: 64px; }