*{
    margin:0 auto;
    padding:0;
}
//last
#last{height:auto;overflow: hidden;min-height:140px;margin:0 auto;
    .last1{width:100%;background:#fafafa;overflow:hidden;margin-top: 15px;
        .last_1{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_2{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_3{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_4{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_5{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
        .last_6{padding-left:82px;width:9%;max-width:95px;float:left;margin:20px 0;
            h2{background-position: -8px 0;height:25px;background:url(../img/footer2014.png) no-repeat;margin-left:-15px;text-indent:-999px;}
            ul{width:100%;
                li{height:20px;font: 12px/20px 'Microsoft YaHei';color:#333;text-indent:-15px;
                    a{color:#565656;}
                }
            }
        }
    }
    .last2{width:100%;margin:5px auto;height:30px;background:#393939;color:#fff;text-align: center;font: 12px/32px 'Microsoft YaHei';
        a{color:#fff;margin:0 10px 0 10px;}
    }
    .last3{margin:15px 0;text-align:center;font: 12px SimSun,tahoma,arial,sans-serif;
        .lasts1{margin:0;padding: 0;
                img{margin:0;padding:0;}
                #aa1{display:inline-block;height:20px;line-height:20px;color:#565656;
                    img{float:left;}
                    p{float:left;height:20px;line-height:20px;margin:0 0 0 5px;color:#939393;}
                }
        }
        
    }
}